{% load static %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{% url 'index' %}">  
      <img
        src="{% static 'images/adoPet2.png' %}"
        alt="AdoPetLogo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
              href="#" 
              id="navbarDropdown" 
              role="button" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false"
              >Mascotas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'adop_dogs' %}">Perros</a>
              <a class="dropdown-item" href="{% url 'adop_cats' %}">Gatos</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'adop_others' %}">Otras</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'adoption_info' %}">¿Cómo adopto? </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
              href="#" id="navbarDropdown" 
              role="button" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false"
              >Consejos y Cuidados
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'dog_training' %}">Entrenamiento básico en perros</a>
            <a class="dropdown-item" href="{% url 'cat_training' %}">Entrenamiento básico en gatos</a>
            <a class="dropdown-item" href="{% url 'basic_care' %}">Cuidados básicos para mascotas</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" 
              href="#" 
              id="navbarDropdown" 
              role="button" 
              data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false"
              >Nosotros y más
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'about_us' %}">¿Quiénes somos?</a>
            <a class="dropdown-item" href="{% url 'directory' %}">Directorio de entrenadores</a>
          </div>
        </li>
      </ul>
      <form class=" form-inline my-2 my-lg-0 actions justify-content-end">
          <button type="button" class="btn btn-secondary mr-1">Ingresa</button>
          <button type="button" class="btn btn-success mr-1"> Regístrate</button>
      </form>
    </div>
  </nav>