{% extends 'base.html' %}

{% load static %}

{% block content %}
<br>
    <br>
    <br>
    <section class="pets-and-info">
      {% for cat in cats%}
      <article class="top-pets">
        <div class="top-pets-content">
          <figure>
            <img
              src="{{ cat.photo.url}}"
              alt="{{ cat }}"
            />
          </figure>
          <h3>{{ cat.name }}</h3>
          <p>
            {{ cat.sex }} <br>
            Talla {{ cat.size}}<br>
            {% if cat.years %}
              {{ cat.years }} años
            {% else %}
              0 años
            {% endif%}
            {% if cat.months %}
              {{ cat.months }} meses
            {% else %}
              0 meses
            {% endif%}
            <br> 
          </p>
          <a href="">Adopta→</a>
        </div>
      </article>
      {% endfor %}
    </section>
  
  <!-- <script src="{% static 'scripts/adopCats.js' %}""></script> -->

{% endblock content %}