{% extends 'base.html' %}

{% block content %}

    <main>
      <div class="jumbotron jumbotron-fluid" id="banner">
       <div class="parallax text-center text-white" style="background-image:url('../static/images/kittie.jpg');">
          
            <div class="container text-center" style="height:580px;padding-top:170px;">
              <h1 class="card-title pt-3 mb-5 font-bold"><strong>ENTRENAMIENTO</strong></h1>
             
            </div>
          
      </div>
      </div>
    </main>

    <!--Who we are?-->
    <section class="landinginfo" id="adoptionlandinginfo">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heading text-center">
              <hr class="divider" />
              <h2>Entrenamiento básico para gatos</h2>
              <hr class="divider" />
              <h6>Una vez el gato se muestre adaptado a su nuevo entorno, será el momento de empezar a enseñarle algunas cosas que te explicamos a continuación para que sepas cómo educar a un gato desde que es pequeño.</h6>

              <hr class="divider" />
              <h5>Usar el rascador</h5>
              <hr class="divider" />
              
              <p>Es recomendable disponer de un rascador desde el primer día y motivarlo para que juegue con él de forma regular para que vuestro gato aprenda a usarlo. Para ello, podemos elegir un rascador dinámico, que incluya juguetes y otros objetos. Si no, bastará con estimularle nosotros mismos, de esta forma evitaremos la destructividad hacia los muebles del hogar.</p>

              <img src="../static/images/train/catscratch.jpg" alt="cat-scratch">
              
              <hr class="divider" />
              <h5>Usar el arenero</h5>
              <hr class="divider" />
              
              <p>Debemos elegir uno que tenga fácil acceso y le llevaremos hasta allí después de comer, al despertarse o después de una sesión intensa de juegos. Cada vez que lo haga bien le premiaremos y, si hiciera sus necesidades en otro lugar de forma frecuente, desplazaríamos el arenero hasta esa zona para poder felicitarle luego.</p>

              <img src="../static/images/train/catsandbox.jpg" alt="cat-sandbox">

              <hr class="divider" />
              <h5>Uso de juguetes</h5>
              <hr class="divider" />
              
              <p>Al gato pequeño se le deben proporcionar juguetes para que aprenda a "cazar". Con juguetes muy simples, el gato se lo pasará estupendamente.</p>

              <p>Si tú le lanzas los objetos llegará el punto en que te los traerá con la boca para que puedas lanzarlos de nuevo. La clave para motivarle a jugar es estar presente en el juego. Si no pasamos tiempo con él, pronto se aburrirá con los juguetes que tiene.</p>

              <img src="../static/images/train/cattoys.jpg" alt="cat-toys">

              <hr class="divider" />
              <h5>No arañar o morder</h5>
              <hr class="divider" />
              <ul>
                <li>A partir de las tres semanas, cada vez que el gato nos muerda o arañe emitiremos un pequeño chillido y dejaremos de jugar con él. Ya que el juego es algo muy importante en esta etapa, el gato empezará a relacionar el fin del juego con su actitud arisca.</li><br>
                <li>Evita sobreexcitar a tu gatito para que no tienda a morder o arañar.</li><br>
                <li>Utiliza juguetes tipo caña de pescar para que tu gato aprenda que estos objetos sí puede arañarlos y morderlos si lo desea. Recuerda que esta es una conducta normal en los gatos y que debemos permitir que la muestre si lo desea, eso sí, siempre hacia sus juguetes.</li><br>
              </ul>

              <img src="../static/images/train/catbite.jpg" alt="cat-bite">
              
            </div>
          </div>
        </div>          
      </div>
    </section>
{% endblock content %}