{% extends 'base.html' %}

{% load static %}

{% block content %}
    <br>
    <br>
    <br>
    <section class="pets-and-info">
      {% for dog in dogs%}
      <article class="top-pets">
        <div class="top-pets-content">
          <figure>
            <img
              src="{{ dog.photo.url}}"
              alt="{{ dog.name }}"
            />
          </figure>
          <h3>{{ dog.name }}</h3>
          <p>
            {{ dog.sex }} <br>
            Talla {{ dog.size}}<br>
            {% if dog.years %}
              {{ dog.years }} años
            {% else %}
              0 años
            {% endif%}
            {% if dog.months %}
              {{ dog.months }} meses
            {% else %}
              0 meses
            {% endif%}
            <br> 
          </p>
          <a href="">Adopta→</a>
        </div>
      </article>
      {% endfor %}
    </section>
    <!--<script src="{% static 'scripts/adopDogs.js' %}"></script>-->
{% endblock content %}

