{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <section class="pets-and-info">
      <!-- <article class="top-pets">
        <div class="top-pets-content">
          <figure>
            <img
              src="images/top-pets/bean.jpg"
              alt="pug-dog-bean"
            />
          </figure>
          <h3>Bean</h3>
          <p>
            Raza pequeña<br>
            18 meses <br>
            Convive con niños y otros perros.
          </p>
          <a href="">Adopta→</a>
        </div>
      </article>
      <article class="top-pets">
        <div class="top-pets-content">
          <figure>
            <img
              src="images/top-pets/hamta.jpg"
              alt="hamta-img"
            />
          </figure>
          <h3>Hamta</h3>
          <p>
            Hamster<br>
            2 meses
          </p>
          <a href="">Adopta→</a>
        </div>
        
      </article>
      <article class="top-pets">
        <div class="top-pets-content">
          <figure>
            <img
              src="images/top-pets/lilo.jpg"
              alt="dog-lilo"
            />
          </figure>
          <h3>Lilo</h3>
          <p>
            Raza pequeña <br>
            2 años <br>
            No convive con niños
          </p>
          <a href="">Adopta→</a>
        </div>
      </article>
      <article class="top-pets">
        <div class="top-pets-content">
          <figure>
            <img
              src="images/top-pets/lion.jpg"
              alt="dog-lion"
            />
          </figure>
          <h3>Lion</h3>
          <p>
            Raza pequeña <br>
            4 años <br>
            Convive con niños, perros y gatos.
          </p>
          <a href="">Adopta→</a>
        </div>
      </article>
      <article class="top-pets">
        <div class="top-pets-content">
          <figure>
            <img
              src="images/top-pets/luka.jpg"
              alt="cat-luka"
            />
          </figure>
          <h3>Luka</h3>
          <p>
            18 meses <br>
            No convive con otras mascotas
          </p>
          <a href="">Adopta→</a>
        </div>
      </article>
      <article class="top-pets">
        <div class="top-pets-content">
          <figure>
            <img
              src="images/top-pets/melvin.jpg"
              alt="cat-melvin"
            />
          </figure>
          <h3>Melvin</h3>
          <p>
            3 años <br>
            Convive con perros y gatos <br>
            No convive con niños
          </p>
          <a href="">Adopta→</a>
        </div>
      </article>
      <article class="top-pets">
        <div class="top-pets-content">
          <figure>
            <img
              src="images/top-pets/sonic.jpg"
              alt="hedgehog-sonic"
            />
          </figure>
          <h3>Sonic</h3>
          <p>
            1 mes<br>
            Adopción especial
          </p>
          <a href="">Adopta→</a>
        </div>
      </article>
      <article class="top-pets">
        <div class="top-pets-content">
          <figure>
            <img
              src="images/top-pets/xico.jpg"
              alt="dog-xico"
            />
          </figure>
          <h3>Xico</h3>
          <p>
            Raza pequeña<br>
            5 años <br>
            Adopción especial
          </p>
          <a href="">Adopta→</a>
        </div>
      </article>
      <article class="top-pets">
        <div class="top-pets-content">
          <figure>
            <img
              src="images/top-pets/bugs.jpg"
              alt="pet-bugs"
            />
          </figure>
          <h3>Bugs</h3>
          <p>
            1 año<br>
            Adopción especial<br>
          </p>
          <a href="">Adopta→</a>
        </div>
      </article> -->
    </section>
    <script src="../static/scripts/adopDogs.js"></script>
{% endblock content %}

