{% extends 'base.html' %}

{% block content %}

    <!-- Welcome to website -->
    <main>
      <div class="jumbotron jumbotron-fluid" id="banner">
       <div class="parallax text-center text-white" style="background-image:url('../static/images/train/dogtraining.jpg');">
          
            <div class="container text-center" style="height:580px;padding-top:170px;">
              <h1 class="card-title pt-3 mb-5 font-bold"><strong>ENTRENAMIENTO</strong></h1>
             
            </div>
          
      </div>
      </div>
    </main>

    <!--Who we are?-->
    <section class="landinginfo" id="dogtraininglandinginfo">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="heading text-center">
              <hr class="divider" />
              <h2>Entrenamiento básico para perros</h2>
              <hr class="divider" />
              <h6>Los elementos más importantes en el adiestramiento de tu perro son la <mark>constancia</mark>, la <mark>paciencia</mark> y la <mark>alabanza</mark>. No cometas la equivocación de esperar demasiado y demasiado pronto, ya que esto no sería justo para tu mascota.</h6>

              <hr class="divider" />
              <h5>Ir al baño</h5>
              <hr class="divider" />
              
              <p>Esparce periódicos en un rincón designado como rincón de aseo. Poco tiempo después de que haya comido, llévalo allí y quédate hasta que haya hecho sus necesidades, y después premialo. Llévalo al mismo lugar cuando despierte de su sueño nocturno o de sus siestas.</p>

              <p>Saca los papeles sucios y reemplázalos por papeles limpios, dejando encima uno sucio. El olor le recuerda al perro para qué están esos papeles.</p>

              <p>Empieza esparciendo los periódicos sobre una gran superficie. Poco a poco reduce la superficie cubierta de papeles hasta que baste con poner varias hojas en el lugar de su elección. Ríñelo cuando cometa un error, y después llévalo a su lugar elegido. En caso de "accidente" no se le debe pegar. Limpia el lugar que ensució con vinagre o amoníaco diluido con agua tibia para eliminar cualquier olor que pudiera atraerlo otra vez al mismo lugar.</p>

              <img src="../static/images/train/dogclean.jpg" alt="dog-clean">
              
              <hr class="divider" />
              <h5>Sentado</h5>
              <hr class="divider" />
              
              <p>Muestra una pequeña golosina a tu perro cerca de su nariz (no le permitas cogerla de tu mano) y muévala lentamente hacia sus ojos para que suba la nariz. Su cuerpo debería ir en la posición de sentado naturalmente. Tan pronto como se sienta, dale a tu cachorro la golosina elogiándolo y al mismo tiempo indica la orden verbal 'sit'. Sigue practicando hasta que finalmente no consiga la golosina, con tu sereno elogio.</p>

              <img src="../static/images/train/dogsit.jpg" alt="dog-sitting">

              <hr class="divider" />
              <h5>Abajo</h5>
              <hr class="divider" />
              
              <p>Muestra una pequeña golosina a tu cachorro, muévala lentamente hacia el suelo y ponla entre las patas. Esto debe alentarlos a tumbarse para coger la golosina. Tan pronto como se tumbe, dale a tu cachorro la golosina elogiándolo y al mismo tiempo aplica la orden verbal mismo tiempo 'hacia abajo'. Una vez más, seguir practicando hasta que finalmente no consiga la golosina.</p>

              <img src="../static/images/train/dogdown.jpg" alt="dog-down">

              <hr class="divider" />
              <h5>Quieto</h5>
              <hr class="divider" />
              
              <p>Ordena al perro que se siente o eche. Luego dale la orden "Stay". Retrocede lentamente, levantando un dedo para advertirle que no se mueva. Si lo hace, dile "¡No!"" enérgicamente. Deja la correa sobre el suelo, desde él hacia ti, mientras te alejas retrocediendo. Sigue repitiendo "Stay" o "No", según su reacción. Con cada lección trata de retroceder un poco más hasta que quede un espacio libre entre ti y el extremo de la correa.</p>

              <img src="../static/images/train/dogstay.jpg" alt="dog-staying">

              <hr class="divider" />
              <h5>Da la pata</h5>
              <hr class="divider" />
              
              <p>Con el perro en posición sentada, empújale su hombro derecho con tu mano izquierda. Cuando levante la pata delantera, toma su pata en tu mano derecha, estréchasela, y después prémialo. Sigue repitiéndole la orden "pata" cada vez que realices esta acción.</p>

              <img src="../static/images/train/dogfeet.jpg" alt="dog-feet">

              
            </div>
          </div>
        </div>          
      </div>
    </section>

{% endblock content %}