{% extends 'base.html' %}

{% load static %}

{% block content %}
<br>
<br>
<br>
<section class="pets-and-info">
  {% for other in others%}
  <article class="top-pets">
    <div class="top-pets-content">
      <figure>
        <img
          src="{{ other.photo.url}}"
          alt="{{ other }}"
        />
      </figure>
      <h3>{{ other.name }}</h3>
      <p>
        {{ other.sex }} <br>
        Talla {{ other.size}}<br>
        {% if other.years %}
          {{ other.years }} años
        {% else %}
          0 años
        {% endif%}
        {% if other.months %}
          {{ other.months }} meses
        {% else %}
          0 meses
        {% endif%}
        <br> 
      </p>
      <a href="">Adopta→</a>
    </div>
  </article>
  {% endfor %}
</section>

   


  
  <!-- <script src="{% static 'scripts/adopOthers.js' %}"></script> -->

{% endblock content %}