$olive-color: #164a41;
$green-leaf-color: #4d774e;
$harder-grey-color: #5b8f71;
$medium-green-color: #cee2c6;
$egg-yellow-color: #f1b24a;
$white: #ffffff;
$discret-green: #effcf9;
$neutral-color: #fffbf7;
$soft-gray:#91afb6;
$light-green: #608993;
$soft-purple: #8980a5;
$soft-lavander: #66598B;

*{	
	margin: 0%;
	padding: 0%;
	font-family: 'Open Sans', sans-serif;
	}

body {
    background-color: $neutral-color;
  }
  
  .navbar {
    background-color: $discret-green;

    img {
        width: 142px;
        height: 37px;
        fill: none;
    }

    .dropdown-menu {
        background-color: $medium-green-color;
    }

    .nav-item:hover .dropdown-menu {
        display: block;
    }

    .from-inline a{
        color: white !important;
    }


  }
 
  main {
    height: 100%;
    padding-top: 80px;
    text-align: center;

    .jumbotron-fluid {
        padding: 0;
    }

    .parallax {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    
    h1 {
        color: $egg-yellow-color;
        font-family: "Alegreya", sans-serif;
        font-size: 60px;
        margin-bottom: 24px;
    }

    h4 {
        color: $discret-green;
        text-shadow: $egg-yellow-color;
    }

    img {
        max-width: 100%;
        height: auto;
    }
  }
  
  
  
  .aboutus{
    .heading {
        max-width: 960px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 40px;

        h2 {
            font-weight: 600;
            font-size: 40px;
            color: $olive-color;
            margin: 0;
            padding: 5px;
          }
    }

    mark {
        color: $olive-color;
      }

      .divider {
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-top: 3px solid $egg-yellow-color;
      }

      .card {
        margin: 10px;
        width: 250px;

        .card-img-top {
            width: 250px;
            height: 250px;
          }

          .btn {
            color: $green-leaf-color;
            font-weight: bold;
          }

        
      }


      
  }

  .landinginfo{
    .divider {
        margin-top: 1em;
        margin-bottom: 1em;
        border-top: 2px solid $egg-yellow-color;
      }

      .heading {
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 40px;

        h2 {
            font-weight: 600;
            font-size: 40px;
            color: $olive-color;
            margin: 0;
            padding: 5px;
          }
      }

      h5 {
        font-weight: bold;
        color: $olive-color;
        margin: 0;
        padding: 5px;
      }

      mark {
        color: $olive-color;
      }

      ul {
        margin-bottom: 30px;
        margin-top: 10px;
        list-style-type: none;
        padding-left: 20px;
      }

      div {
        margin-bottom: 30px;
        margin-top: 10px;
        padding-left: 20px;
      }

      .list {
        list-style-type: initial;
        margin-bottom: 30px;
        margin-top: 10px;
        padding-left: 20px;
      }

      img {
        width: 250px;
        height: 250px;
      }
  }
  
  .footer {
    background: $green-leaf-color;
    margin-top: 100px;
    position: relative;

    .container {
        padding: 60px 0 20px;
    }

    ul {
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 10px;
        text-align: center;
        list-style-type: none;
        padding-left: 0;

        li {
            text-align: center;
            display: inline-block;
            background: $harder-grey-color;
            color: $neutral-color;
            line-height: 45px;
            margin: 0 4px;
            width: 45px !important;
            height: 45px !important;
            -webkit-border-radius: 3px;
            border-radius: 3px;

            a {
                color: $neutral-color;
                width: 42px !important;
                height: 42px !important;

                i {
                    line-height: 45px;
                    color: $neutral-color;
                }
            }
        }
    }

    ul li:hover {
        background: $olive-color;

        a {
            color: $neutral-color;
      }
    }

    p {
        color: #fffbf7;
        font-size: 0.9em;
        line-height: 24px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }

    a, a:hover {
        color: $white;
    }
  }
 
  .pets-and-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: $egg-yellow-color;
    padding: 2% 3%;

    .top-pets {
        background-color: $medium-green-color;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        overflow: hidden;

        .top-pets-content {
            margin-bottom: 1rem;
            margin-top: 0;
            padding: 30px 20px 40px 40px;
            flex: 2;

            figure {
                text-align: center;
            }

            img {
                width: 300px;
                height: 300px;
            }

            h3 {
                font-size: 24px;
                color: #343434;
                font-weight: 400;
            }

            p {
                font-size: 16px;
                color: #7e7e7e;
                font-weight: 400;
            }

            a {
                font-size: 16px;
                color: #67b54b;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
  }

  .register{
    text-align: center;

    h1{
        font-weight: bold;
        color: purple;
    }

    .btn-adoptant {
        color: $white;
        background-color: $soft-gray;
        border-color: $soft-gray;

        &:hover, &:active {
            color: $white;
            background-color: $light-green;
            border-color: $light-green;
        }
    }    
    
    .btn-rescuer {
        color: $white;
        background-color: $soft-purple;
        border-color: $soft-purple;

        &:hover, &:active {
            color: $white;
            background-color: $soft-lavander;
            border-color: $soft-lavander;
        }
    }
  }
  